body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 6rem;
  font-weight: 200;
}

.nav {
  font-size: 1.5rem;
  font-weight: 600;
}

.img-height {
  height: 15rem;
}


@media screen and (max-width:992px) {

  /* .btn {
    background-color: orange;
  } */

  .nav {
    font-size: 1.3rem;
  }
}


@media screen and (max-width: 768px) {

  /* .btn {
    background-color: green;
  } */

  .nav {
    font-size: 1rem;
  }

}
